@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    margin: 0 auto;
    background-color: #f8f8f8;
    padding: 0 2rem
}